{
    "openapi": "3.0.0",
    "info": {
        "title": "iTaxcix API",
        "description": "Documentación de la API de autenticación y usuarios de iTaxcix",
        "contact": {
            "email": "soporte@itaxcix.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.itaxcix.com",
            "description": "Servidor de producción"
        },
        {
            "url": "http://localhost:8080",
            "description": "Entorno local de desarrollo"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Iniciar sesión",
                "description": "Inicia sesión en la aplicación.",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inicio de sesión exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales inválidas"
                    },
                    "400": {
                        "description": "Datos inválidos"
                    }
                }
            }
        },
        "/auth/register/citizen": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Registrar un ciudadano",
                "description": "Registra un nuevo ciudadano en la aplicación.",
                "operationId": "registerCitizen",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterCitizenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registro exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "userId": {
                                            "type": "integer"
                                        },
                                        "personId": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos inválidos"
                    },
                    "422": {
                        "description": "No se encontraron datos en la API externa"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/auth/register/driver": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Registrar un conductor",
                "description": "Registra un nuevo conductor en la aplicación.",
                "operationId": "registerDriver",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterDriverRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registro exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "userId": {
                                            "type": "integer"
                                        },
                                        "personId": {
                                            "type": "integer"
                                        },
                                        "vehicleId": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos inválidos"
                    },
                    "422": {
                        "description": "No se encontraron datos en la API externa"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/auth/recovery": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Solicitar recuperación de contraseña",
                "description": "Solicita la recuperación de la contraseña.",
                "operationId": "requestRecovery",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecoveryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Solicitud de recuperación procesada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos inválidos"
                    },
                    "404": {
                        "description": "Contacto no encontrado"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/auth/verify-code": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verificar el código de recuperación",
                "description": "Verifica el código de recuperación de contraseña.",
                "operationId": "verifyCode",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyCodeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Código verificado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "userId": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Código inválido o datos incorrectos"
                    },
                    "404": {
                        "description": "Contacto no encontrado"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Restablecer la contraseña",
                "description": "Restablece la contraseña del usuario.",
                "operationId": "resetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Contraseña restablecida correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos inválidos"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/hello/{name}": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "Saludar al usuario",
                "description": "Saluda al usuario autenticado.",
                "operationId": "sayHello",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/perfil/send-verification-code": {
            "post": {
                "tags": [
                    "Perfil"
                ],
                "summary": "Enviar código de verificación a un contacto",
                "operationId": "674f0d445be7989bed83c94b6c520449",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "itaxcix\\models\\dtos\\SendVerificationCodeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Código enviado exitosamente"
                    },
                    "400": {
                        "description": "Datos inválidos o contacto ya verificado"
                    },
                    "404": {
                        "description": "Contacto no encontrado"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/perfil/verify-contact-code": {
            "post": {
                "tags": [
                    "Perfil"
                ],
                "summary": "Verificar contacto mediante código",
                "operationId": "46cf08590ba03a333fb7f4a57a6c2d16",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyCodeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Contacto verificado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "userId": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Código inválido o datos incorrectos"
                    },
                    "404": {
                        "description": "Contacto no encontrado"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "LoginRequest": {
                "description": "Datos para iniciar sesión",
                "properties": {
                    "username": {
                        "type": "string",
                        "example": "juan.perez"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "securePassword123"
                    }
                },
                "type": "object"
            },
            "RecoveryRequest": {
                "description": "Datos para recuperar contraseña",
                "properties": {
                    "contactTypeId": {
                        "type": "integer",
                        "example": 1
                    },
                    "contact": {
                        "type": "string",
                        "example": "antonio@gmail.com"
                    }
                },
                "type": "object"
            },
            "RegisterCitizenRequest": {
                "description": "Datos para registrar un ciudadano",
                "properties": {
                    "documentTypeId": {
                        "type": "integer",
                        "example": 1
                    },
                    "document": {
                        "type": "string",
                        "example": "123456789"
                    },
                    "alias": {
                        "type": "string",
                        "example": "antonio.perez"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "securePassword123"
                    },
                    "contactTypeId": {
                        "type": "integer",
                        "example": 1
                    },
                    "contact": {
                        "type": "string",
                        "example": "antonio@gmail.com"
                    }
                },
                "type": "object"
            },
            "RegisterDriverRequest": {
                "description": "Datos para registrar un conductor",
                "properties": {
                    "documentTypeId": {
                        "type": "integer",
                        "example": 1
                    },
                    "document": {
                        "type": "string",
                        "example": "123456789"
                    },
                    "alias": {
                        "type": "string",
                        "example": "antonio.perez"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "securePassword123"
                    },
                    "contactTypeId": {
                        "type": "integer",
                        "example": 1
                    },
                    "contact": {
                        "type": "string",
                        "example": "antonio@gmail.com"
                    },
                    "licensePlate": {
                        "type": "string",
                        "example": "ABC-123"
                    }
                },
                "type": "object"
            },
            "ResetPasswordRequest": {
                "description": "Datos para restablecer la contraseña",
                "properties": {
                    "userId": {
                        "type": "integer",
                        "example": 1
                    },
                    "newPassword": {
                        "type": "string",
                        "format": "password",
                        "example": "secureNewPassword123"
                    }
                },
                "type": "object"
            },
            "VerifyCodeRequest": {
                "description": "Datos para verificar el código de recuperación",
                "properties": {
                    "code": {
                        "type": "string",
                        "example": "123456"
                    },
                    "contactTypeId": {
                        "type": "integer",
                        "example": 1
                    },
                    "contact": {
                        "type": "string",
                        "example": "antonio@gmail.com"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Endpoints relacionados con autenticación"
        },
        {
            "name": "General",
            "description": "Endpoints relacionados con utilidades y pruebas"
        },
        {
            "name": "Perfil",
            "description": "Operaciones relacionadas con el perfil del usuario"
        }
    ]
}